
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <h1>Login</h1>
            <ul>
                <li><a href="{{ url_for('quiz') }}">Quiz spielen</a></li>
                <li><a href="{{ url_for('fragenkatalog') }}">Fragen einpflegen</a></li>
                <li><a href="{{ url_for('aboutus') }}">Über uns</a></li>
                <li><a href="{{ url_for('index') }}">Startseite</a></li>
                <li><a href="{{ url_for('anfragen') }}">Anfragen</a></li>
                {% if session.get("email") %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Registrierung</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
</form>


<form action="{{ url_for('multiplayer') }}" method="post">
    <label for="friend_email">Freund´s E-Mail</label>
    <input type="email" name="friend_email" placeholder="friend@iu-study.org" required title="Freund´s E-Mail nötig">
    
    <label for="course_id">Kurs Auswählen</label>
    <select name="course_id" required title="Select a course">
        {% for course in courses %}
        <option value="{{ course.id }}">{{ course.name }}</option>
        {% endfor %}
    </select>

    <button type="submit">Kooperativ Quiz Starten</button>
</form>
</body>
</html>
